# System #
.*
!/.gitignore
Thumbs.db

# Composer #
composer.lock
/vendor/*

# Apache #
!/.htaccess

# For whole Joomla! site #
/logs/*
!/logs/index.html
/log/*
!/log/index.html
/cache/*
!/cache/index.html
/administrator/cache/*
!/administrator/cache/index.html
/tmp/*
!/tmp/index.html
/configuration.php

# Other data #
/tools
/works
/resources
/gallery
