@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700|Roboto+Condensed:400,300);
body {
  font-size: 16px;
  margin-top: 55px;
  line-height: 175%;
}
body.tmpl-layout-landing {
  margin-top: 0;
}
body,
button,
.btn,
input,
select,
textarea {
  font-family: Roboto, 'PingFang TC', 'Heiti TC', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, 'Adobe 繁黑體 Std', AdobeFanHeitiStd-Bold, 'PingFang TC', '微軟正黑體', sans-serif;
  font-weight: 700;
}
a {
  color: #3671B2;
}
a:hover {
  color: #2a588b;
  text-decoration: none;
}
a:active,
a:visited,
a:focus {
  text-decoration: none;
}
p {
  margin: 1em 0;
}
.feature-text {
  line-height: 200%;
}
#banner {
  background-color: #384761;
  color: white;
}
#footer {
  background-color: #3F8DCA;
  color: white;
}
#copyright {
  background-color: #384761;
  color: white;
}
header > .navbar {
  padding-top: 5px;
  background: url(../images/color-bar-3.svg) repeat-x top left;
  border: 0;
  text-transform: uppercase;
  font-size: .85em;
  font-weight: 700;
}
header > .navbar .navbar-inner {
  background-color: #111;
}
header > .navbar .navbar-brand {
  font-family: Montserrat, 'Adobe 繁黑體 Std', AdobeFanHeitiStd-Bold, 'PingFang TC', '微軟正黑體', sans-serif;
  font-weight: 700;
}
#banner {
  background: url(../images/banner-home.jpg) no-repeat center top;
  background-size: cover;
}
#banner .banner-top-menu {
  text-transform: uppercase;
  font-size: .85em;
}
#banner .banner-top-menu .navbar {
  background: none;
  border: none;
  color: white;
}
#banner .banner-top-menu a {
  color: white;
  opacity: .6;
  padding: 25px 30px;
}
#banner .banner-top-menu a:hover {
  opacity: 1;
}
#banner .banner-top-menu .navbar,
#banner .banner-top-menu .navbar-nav,
#banner .banner-top-menu .nav,
#banner .banner-top-menu ul.nav > li {
  float: none;
}
#banner .banner-top-menu .nav {
  margin: 0 auto;
}
#banner .banner-top-menu .nav > li {
  display: inline-block;
}
#banner .banner-inner {
  display: table;
  width: 100%;
}
#banner .banner-text {
  height: 92vh;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
#banner .banner-text > div {
  margin-top: -7em;
}
.landing-block h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 50px;
}
.landing-block p {
  line-height: 2.5em;
}
.landing-block > *:last-child {
  margin-bottom: 0;
}
#who-we-are h2 {
  color: #384761;
}
#who-we-are p {
  color: #384761;
}
#what-we-made {
  background-color: #EB4D46;
  color: white;
}
#our-works {
  background-color: #333;
  color: white;
}
#our-works .work-item-cover {
  display: block;
  opacity: .8;
}
#our-works .work-item-cover:hover {
  opacity: 1;
}
#who-we-are a {
  color: #384761;
}
#who-we-are a:hover {
  color: rgba(56, 71, 97, 0.8);
}
#what-we-made a,
#our-works a {
  color: rgba(255, 255, 255, 0.7);
}
#what-we-made a:hover,
#our-works a:hover {
  color: white;
}
.item-pagework img {
  max-width: 100%;
}
body.path-about #page-heading {
  background-color: #384761;
}
body.path-service #page-heading {
  background-color: #EEA939;
}
.page-header {
  border: none;
  margin: 70px 0 50px 0;
}
.page-header h2 {
  font-size: 36px;
  text-align: center;
}
.page-header a {
  color: #333;
}
.page-header a:hover {
  color: #444;
}
.article-content {
  color: #666;
}
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  color: #111;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}
.article-content hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
.article-content pre {
  margin-top: 35px;
  margin-bottom: 35px;
}
.article-content img.akmarkdown-img {
  border: 1px solid #eee;
}
.article-info {
  position: relative;
  top: -55px;
}
.article-info dd {
  display: inline-block;
  margin: 0 8px;
}
body.view-article .article-info {
  top: -35px;
}
body.itemid-127 #page-heading,
body.itemid-128 #page-heading,
body.itemid-130 #page-heading,
body.itemid-132 #page-heading {
  background-color: #B9DB7A;
}
body.view-category.layout-blog .col-right-inner {
  margin-top: 70px;
}
body.itemid-122 #page-heading {
  background-color: #C1A5CD;
}
body.work.view-article #body > .container {
  width: 100%;
}
body.work.view-article .item-page-outer {
  margin: 0;
}
body.work.view-article .item-pagework {
  float: none;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
body.work.view-article .item-pagework .article-content .akmarkdown-content > * {
  width: 780px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
body.work.view-article .item-pagework img {
  margin: 40px 0;
}
body.work.view-article .item-pagework img.img-large,
body.work.view-article .item-pagework .large-block {
  max-width: 100%;
  width: 1200px;
}
body.work.view-article .item-pagework img.img-full,
body.work.view-article .item-pagework .full-block {
  max-width: 100%;
}
.work-item {
  overflow: hidden;
  height: 500px;
  border: 1px solid #eee;
  background-color: #eee;
  background-position: top left;
  position: relative;
}
.work-item .work-item-inner {
  display: table;
  width: 100%;
  position: absolute;
  top: 0;
}
.work-item .work-item-cover {
  height: 500px;
  overflow: hidden;
  color: white;
  padding: 0 120px;
  display: table-cell;
  vertical-align: middle;
  background-color: rgba(56, 71, 97, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.work-item .work-item-cover:hover {
  color: white;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.work-item .work-item-cover h2 {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 60px;
}
.work-item .work-item-cover .work-label {
  background: #EB4D46;
  text-transform: uppercase;
  padding: 0 11px;
  border-radius: 3px;
  font-size: .7em;
  margin-bottom: 8px;
  display: inline-block;
}
.work-item .work-item-cover .work-intro p {
  margin: .5em 0;
}
.work-item .work-item-cover .work-intro p:last-child {
  margin-bottom: 0;
}
#page-heading {
  background-color: #EB4D46;
  color: white;
}
#page-heading a {
  color: white;
}
#page-heading h1,
#page-heading h2,
#page-heading h3,
#page-heading h4 {
  margin: 0;
}
#page-heading h1 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}
#page-heading p:last-child {
  margin-bottom: 0;
}
#page-heading .breadcrumb {
  margin: 0;
  color: white;
  background: none;
}
#page-heading .breadcrumb li {
  opacity: .8;
}
#page-heading .breadcrumb li.active {
  opacity: 1;
  color: white;
}
body.itemid-116 #page-heading {
  background-color: #3F8DCA;
}
body.itemid-116 #body {
  background-color: #3F8DCA;
  color: white;
  margin: 0;
  padding-top: 0;
}
body.itemid-116 #body .article-content {
  color: white;
}
body.itemid-116 #body a {
  color: #ffffff;
}
body.itemid-116 #body input,
body.itemid-116 #body select,
body.itemid-116 #body textarea {
  border: none;
  font-size: 18px;
  padding: 22px 19px;
  margin: 0;
  background-color: #384761;
  color: white;
}
body.itemid-116 #body select {
  height: auto;
  padding: 10px 19px;
}
body.itemid-116 #body .form-group {
  margin-bottom: 40px;
}
body.itemid-116 #body .contact-submit {
  margin-top: 50px;
  background-color: #384761;
  border: none;
  margin-left: -15px;
  padding: 15px 55px;
}
#footer h1,
#footer h2,
#footer h3,
#footer h4 {
  text-transform: uppercase;
}
#footer a {
  color: white;
}
#footer a:hover {
  color: rgba(255, 255, 255, 0.7);
  background: none;
}
#footer .nav a {
  padding: 5px 3px;
}
#footer .nav a:focus {
  background: none;
}
#copyright a {
  color: rgba(255, 255, 255, 0.7);
}
#copyright a:hover {
  color: white;
}
