
// Color

@blue1: #384761;
@blue2: #3F8DCA;
@blue3: #3671B2;

@red1: #EB4D46;
@red2: #EE6C64;

@orange: #EEA939;

@yellow1: #EDC364;
@yellow2: #E8E14D;

@green1: #A7CD39;
@green2: #B9DB7A;

@purple1: #C1A5CD;
@purple2: #697FBA;

// Global
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	font-size: 16px;
	margin-top: 50px;
    line-height: 175%;

	&.tmpl-layout-landing {
		margin-top: 0;
	}
}

h1, h2, h3, h4, h5 {
    // font-family: "source-han-sans-traditional";
    font-family: Montserrat, 'Adobe 繁黑體 Std', AdobeFanHeitiStd-Bold, 'PingFang TC', '微軟正黑體', sans-serif;
}

a {
    color: @blue3;

    &:hover {
        color: darken(@blue3, 10%);
        text-decoration: none;
    }
}

p {
    margin: 1em 0;
}

// Test color
#banner {
	background-color: @blue1;
	color: white;
}

#who-we-are {
	// background-color: @green1;
}

#what-we-made {
	background-color: @red1;
	color: white;
}

#our-works {
	background-color: #333;
	color: white;
}

#footer {
	background-color: @blue2;
	color: white;
}

#copyright {
	background-color: @blue1;
	color: white;
}

// Header
header > .navbar {
	//color: white;
	padding-top: 5px;
	background: url(../images/color-bar-3.svg) repeat-x top left;
	border: 0;

	.navbar-inner {
		background-color: #111;
	}
	//border: none;
	//
	//a {
	//	color: white;
	//}
	//.nav > li > a {
	//	color: white;
	//}
}

// Banner
#banner {

	background: url(https://drscdn.500px.org/photo/71865039/m%3D2048/77e55a2fea2cc725b7ae0da89d1831f7) no-repeat center top;
	background-size: cover;

	.banner-top-menu {
		.navbar {
			background: none;
			border: none;
			color: white;
		}

		a {
			color: rgba(255,255,255,.6);

		}

		.navbar, .navbar-nav, .nav, ul.nav>li {
			float: none;
		}

		.nav {
			margin: 0 auto;

			> li {
				display: inline-block;
			}
		}
	}

	.banner-inner {
		display: table;
		width: 100%;
	}

	.banner-text {
		height: 95vh;

		display: table-cell;
		vertical-align: middle;
		width: 100%;

		> div {
			margin-top: -10em;
		}
	}
}

// Article
.page-header {
    border: none;
    margin: 70px 0 50px 0;

    h2 {
        font-size: 36px;
        text-align: center;
    }

    a {
        color: #333;

        &:hover {
            color: #444;
        }
    }
}

// Page heading
#page-heading {
	background-color: @red1;
	color: white;

	a {
		color: white;
	}

	h1, h2, h3, h4 {
		margin: 0;
	}

	h1 {
		font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
	}

    .heading-content {

    }

    p:last-child {
        margin-bottom: 0;
    }
}

// Footer
#footer {
    h1, h2, h3, h4 {
        text-transform: uppercase;
    }

    a {
        color: white;

        &:hover {
            color: rgba(255,255,255,.7);
            background: none;
        }
    }

    .nav a {
        padding-left: 3px;
    }
}
