
// Color

@blue1: #384761;
@blue2: #3F8DCA;
@blue3: #3671B2;

@red1: #EB4D46;
@red2: #EE6C64;

@orange: #EEA939;

@yellow1: #EDC364;
@yellow2: #E8E14D;

@green1: #A7CD39;
@green2: #B9DB7A;

@purple1: #C1A5CD;
@purple2: #697FBA;


// Test color
#banner {
	background-color: @blue1;
}

#service {
	background-color: @green1;
}

#works {
	background-color: @red1;
}

#member {
	background-color: @orange;
}

#footer {
	background-color: @blue3;
}

#copyright {
	background-color: @purple2;
}

// Header
header > .navbar {
	// position: fixed;
}

// Banner
#banner {
	height: 100vh;
}



