#banner {
  background-color: #384761;
}
#service {
  background-color: #a7cd39;
}
#works {
  background-color: #eb4d46;
}
#member {
  background-color: #eea939;
}
#footer {
  background-color: #3671b2;
}
#copyright {
  background-color: #697fba;
}
#banner {
  height: 100vh;
}
