
// Color

@blue1: #384761;
@blue2: #3F8DCA;
@blue3: #3671B2;

@red1: #EB4D46;
@red2: #EE6C64;

@orange: #EEA939;

@yellow1: #EDC364;
@yellow2: #E8E14D;

@green1: #A7CD39;
@green2: #B9DB7A;

@purple1: #C1A5CD;
@purple2: #697FBA;

// Global
body {
	font-size: 16px;
}


// Test color
#banner {
	background-color: @blue1;
	color: white;
}

#who-we-are {
	// background-color: @green1;
}

#what-we-made {
	background-color: @red1;
	color: white;
}

#our-works {
	background-color: #333;
	color: white;
}

#footer {
	background-color: @blue2;
	color: white;
}

#copyright {
	background-color: @blue1;
	color: white;
}

// Header
header > .navbar {
	// position: fixed;
}

// Banner
#banner {

	background: url(https://drscdn.500px.org/photo/71865039/m%3D2048/77e55a2fea2cc725b7ae0da89d1831f7) no-repeat center center;
	background-size: cover;

	.banner-top-menu {
		.navbar {
			background: none;
			border: none;
			color: white;
		}

		a {
			color: rgba(255,255,255,.6);

		}

		.navbar, .navbar-nav, .nav, ul.nav>li {
			float: none;
		}

		.nav {
			margin: 0 auto;

			> li {
				display: inline-block;
			}
		}
	}

	.banner-inner {
		display: table;
		width: 100%;
	}

	.banner-text {
		height: 95vh;

		display: table-cell;
		vertical-align: middle;
		width: 100%;

		> div {
			margin-top: -10em;
		}
	}
}


